{
  "parser": "@typescript-eslint/parser",
  "plugins": ["import", "react", "prettier", "@typescript-eslint"],
  "extends": ["plugin:@typescript-eslint/recommended", "plugin:prettier/recommended"],
  "rules": {
    "prettier/prettier": "error",
    "@typescript-eslint/explicit-module-boundary-types": "off"
  }
}
