.image-uploader__error-list {
  margin-bottom: 2rem;
}

.image-uploader__button {
  min-height: 200px;
  border: 8px;
  border-radius: 2px;
  border-style: dashed;
  border-color: rgb(229, 231, 235);
  background-color: rgb(243, 244, 246);
  padding: 1rem;
  display: block;
  width: 100%;
}
