.navigation-list {
  margin: 0 -0.5rem;
}
.navigation-list__item {
  display: block;
  padding: 0.5rem;
}

@media screen and (min-width: 768px) {
  .navigation-list {
    display: flex;
  }
}

.navigation-link {
  color: #303846;
  transition: color 0.2s ease-out;
}
.navigation-link:focus,
.navigation-link:hover,
.navigation-link:active {
  color: #f7a600;
}
.navigation-link:focus,
.navigation-link:hover,
.navigation-link:active {
  text-decoration: underline;
}

.navigation-link.selected {
  text-decoration: underline;
  color: #303846;
}
